<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="vo.ArticleVO" alias="artvo" />
		<typeAlias type="vo.CalenderVO" alias="calvo"/>
		<typeAlias type="vo.EmployeeVO" alias="empvo"/>
		<typeAlias type="vo.PatientVO" alias="patvo"/>
		<typeAlias type="vo.ChartVO" alias="charvo"/>
		<typeAlias type="vo.ChartDisplayVO" alias="chartdisplayvo"/>
		<typeAlias type="vo.SearchVO" alias="searchvo"/>
		<typeAlias type="vo.PageVO" alias="pagevo"/>
		<typeAlias type="vo.RegisterVO" alias="registervo"/>
		<typeAlias type="vo.RecVO" alias="recvo"/>
	</typeAliases>
</configuration>
